body {
	background: url('../images/StudentPortalBackground.jpg') no-repeat;
	-webkit-background-size: cover; /* For WebKit*/
        -moz-background-size: cover;    /* Mozilla*/
        -o-background-size: cover;	/* Opera*/
	background-size: cover;
	width: 100%;
	height: 100%;
	background-color: #50425E;
    	overflow-y: hidden;
	}

/************************************************
*	Header 					*
************************************************/

#header {
	padding: 0;
	margin: 0;
	width: 97%;
	height: 135px;
	background-image: url('../images/StudentPortalHeader.png');
	background-size: contain;
	background-repeat: no-repeat;
	}

/************************************************
*       Footer                                  *
************************************************/

#footer {
	background:#B9B9B9;
	bottom:0; 
	height:70px;
	left:0;
	position:fixed;
	width:100%;
	}
#sticky_footer {
	line-height:70px;
	margin:0 auto;
	width:100%;
	text-align:center;
	overflow-x: scroll;
	}
#sticky_footer_home {
	line-height:70px;
        margin:0 auto;
        width:100%;
        text-align:left;
        overflow-x: scroll;
	}
#footer img {
	vertical-align:middle;
	}
.left_arrow_icon {
	float:left;
	position:fixed;
	left:2%;
	margin-top:15px;
	display:none;
	}
.right_arrow_icon {
	float:right;
	position:fixed;
	right:2%;
	margin-top:15px;
	display:none;
	}

#icon {
	width:390px;
	padding:0 0 0 5px;	
}

/************************************************
*       Login Form                              *
************************************************/

#login {
	width: 440px;
	height: 190px;
	background-color: #757575;
	border-style: solid;
	border-color: #50425E;
	border-radius: 25px;
	border-width: 5 px;
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: 2px 2px #50425E;
	margin: 130px auto 0px auto;
	padding: 20px 0px 0px 0px;
	vertical-align: middle;
	}
#login .form {
	margin: 0px 0px 0px 30px;
	}
#login .create {
	position: relative;
	top: -172px;
	left: 213px;	
	border-left: thick double #50425E;
	height: 146px;
	width: 185px;
	padding: 0px 0px 0px 22px;
	}
#login span {
	font-weight: normal;
	text-shadow: none;
	}
#login .flash {
	position: relative;
	top: -160px;
	left: 100px;
	font-size: 14px;
	color: red;
        font-weight: bold;
	font-style: italic;
	text-shadow: none;
	margin: 5px 0px 0px 7px;
	}

/************************************************
*       Register Form                           *
************************************************/

#register .required {
	color: red;
	}

#register .register_errors {
	list-style-type: none;
	}
#header_container { background:#000; border:1px solid #666; height:60px; left:0; position:fixed; width:100%; top:0; }
#sticky_header{ line-height:60px; margin:0 auto; width:100%; text-align:center;font-weight: bold; 
	font-variant: small-caps; font-size: 40px; color: white;}
 
/* CSS for the content of page. I am giving top and bottom padding of 80px to make sure the header and footer do not overlap the content.*/
#container { margin:0 auto; overflow:auto; padding:80px 0; width:100%; color: white;}
#content{}

/************************************************
*       Collapsable Menus                       *
************************************************/

#menu {
        padding: 0;
        width: 90%;
	height:90%;
        left: 50%;
        position: absolute;
        bottom: 0;
        text-align: center;
        margin: 0 0 0 -45%;
        }
#menu .required {
        color: red;
        }

#menu .register_errors {
        list-style-type: none;
        }
#menu .submit_button {
	color:#5B2980;
        font-weight:bold;
	}
#menu button {
	color:#5B2980;
	}
	
#login_container {
	margin: 0 auto;
	overflow: auto;
        position: absolute;
        bottom: 70px;
        width: 100%;
        color: white;
        display: none;
        border: 3px solid;
        border-color: #FFFFFF;
        background-color: #5E5E5E;
        border-radius:30px;
	padding: 0;
        }

#forgot_password_container {
	margin: 0 auto;
	overflow: auto;
        position: absolute;
        bottom: 70px;
        width: 100%;
        color: white;
        display: none;
        border: 3px solid;
        border-color: #FFFFFF;
        background-color: #5E5E5E;
        border-radius:30px;
	padding: 0;
        }
#forgot_password_button {
	font-weight:bold;
	}
#register_container {
	margin: 0 auto;
        overflow: auto;
        position: absolute;
        bottom: 70px;
        width: 100%;
	height:80%;
        color: white;
        display: none;
        border: 3px solid;
        border-color: #FFFFFF;
        background-color: #5E5E5E;
        border-radius:30px;
	padding:0;
	}

.form {
	width:65%;
	}

#register_container .up_arrow {
	float:left;
	position:fixed;
	top:35%;
	left:7%;
	display:none;
	}
#register_container .down_arrow {
	float:left;
	top:55%;
	left:7%;
        position:fixed;
	display:none;
	}
#map_container {
	margin: 0 auto;
        position: absolute;
        bottom: 70px;
        width: 100%;
	height: 80%;
        color: white;
        display: none;
        border: 3px solid;
        border-color: #FFFFFF;
        background-color: #5E5E5E;
        webkit-border-radius: 30px;
        -moz-border-radius: 30px;
	border-radius:30px;
	overflow:auto;
        padding:10px 0 0 0;
	}

#events_container {
	margin: 0 auto;
        position: absolute;
        bottom: 70px;
        width: 100%;
	height: 80%;
        color: white;
        display: none;
        border: 3px solid;
        border-color: #FFFFFF;
        background-color: #5E5E5E;
        webkit-border-radius: 30px;
        -moz-border-radius: 30px;
	border-radius:30px;
	overflow:auto;
        padding:10px 0 0 0;
	}

#clubs_container {
	margin: 0 auto;
    overflow: auto;
    position: absolute;
    bottom: 70px;
    width: 100%;
	height:80%;
    color: white;
    display: none;
    border: 3px solid;
    border-color: #FFFFFF;
    background-color: #5E5E5E;
    border-radius:30px;
	padding:0;
	}

.club {
	width: 100%;
	color: white;
	border: 1px solid;
	border-color: white;
	}

.club_name {
	padding: 10px;

}

.club_info {
	display: none;

}

.club_info a:link{ color:#134896; } 
.club_info a:visited{ color:#330033; } 
.club_info a:hover{ color:#942A5F; } 
.club_info a:active{ color:#6FB25C}


#professors_container {
	margin: 0 auto;
    overflow: auto;
    position: absolute;
    bottom: 70px;
    width: 100%;
	height:80%;
    color: white;
    display: none;
    border: 3px solid;
    border-color: #FFFFFF;
    background-color: #5E5E5E;
    border-radius:30px;
	padding:0;
	}

.professor {
	width: 100%;
	color: white;
	border: 1px solid;
	border-color: white;
	}

.professor_name {
	padding: 10px;

}

.professor_info {
	display: none;

}

#classes_container {
	margin: 0 auto;
    overflow: auto;
    position: absolute;
    bottom: 70px;
    width: 100%;
	height:80%;
    color: white;
    display: none;
    border: 3px solid;
    border-color: #FFFFFF;
    background-color: #5E5E5E;
    border-radius:30px;
	padding:0;
	}

.class {
	width: 100%;
	color: white;
	border: 1px solid;
	border-color: white;
	}

.class_name {
	padding: 10px;

}

.class_info {
	display: none;

}

.class_info a:link{ color:#134896; } 
.class_info a:visited{ color:#330033; } 
.class_info a:hover{ color:#942A5F; } 
.class_info a:active{ color:#6FB25C}

}

label.error {
    height:17px;
    margin-left:9px;
    padding:1px 5px 0px 5px;
    font-size:small;
}
