<!doctype html>
<html>
<head>
        <link rel="shortcut icon" type="image/icon" href="/favicon.ico"/>
        <link rel="shortcut icon" type="image/icon" href="StudentHomepage/public/favicon.ico"/>
        <%= javascript_include_tag 'application' %>
        <%= stylesheet_link_tag 'application' %>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"  name="viewport" />
</head>
<body>
  <div id="header"></div>
  <div id="menu">
    <div id="map_container">
      <iframe width="90%" height="90%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?ie=UTF8&amp;t=m&amp;oe=UTF8&amp;msa=0&amp;msid=211066975015897757609.0004b38aa8e7bdf7d9baf&amp;ll=39.195188,-96.589694&amp;spn=0.013185,0.018282&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?ie=UTF8&amp;t=m&amp;oe=UTF8&amp;msa=0&amp;msid=211066975015897757609.0004b38aa8e7bdf7d9baf&amp;ll=39.195188,-96.589694&amp;spn=0.013185,0.018282&amp;source=embed" style="color:#0000FF;text-align:left">Kansas State University</a> in a larger map</small>
    </div>
    <div id="events_container">
      <iframe border-width:0 width="90%" height="90%" marginheight="0" marginwidth ="0" frameborder="0" scrolling="no" src="https://www.google.com/calendar/embed?showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=7grgi3fsivgfkdlbbrtsedbb64%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FChicago" ></iframe>
    </div>
    <div id="clubs_container">
        <h2> My Clubs </h2>
        <% for club in @myClubs %>
          <div class = "club">
            <div class = "club_name"><%= club.name%>
              <div class = "club_info" >
                <p>President: <%= club.president%></p>
                <p>Meeting Time: <%= club.meetingTime%></p>
                <a href= <%= club.website %>> <%= club.name %> Website</a>
              </div>
            </div>
          </div>
        <% end %>
        
        <h2>All Clubs</h2>
        <% for club in @clubs %>
          <div class = "club">
            <div class = "club_name"><%= club.name%>
              <div class = "club_info" >
                <p>President: <%= club.president%></p>
                <p>Meeting Time: <%= club.meetingTime%></p>
                <a href= <%= club.website %>> <%= club.name %> Website</a>
              </div>
            </div>
          </div>
        <% end %>
    </div>

    <div id="classes_container">
    <h2> My Classes </h2>
    <% for course in @myCourses %>
      <div class = "class">
        <div class = "class_name"><%= course.title %>
          <div class = "class_info" >
            <!-- This can be replaced with a student's @classes :param -->
            <p>Id: <%= course.id %></p>
            <p>Description: <%= course.description %></p>
            <p>Meeting Time: <%= course.meetingTime %></p>
          </div>
        </div>
      </div>
    <% end %>
    
    <h2> All Courses </h2>
    <% for course in @courses %>
      <div class = "class">
        <div class = "class_name"><%= course.title %>
          <div class = "class_info" >
            <!-- This can be replaced with a student's @classes :param -->
            <p>Id: <%= course.id %></p>
            <p>Description: <%= course.description %></p>
            <p>Meeting Time: <%= course.meetingTime %></p>
          </div>
        </div>
      </div>
    <% end %>
    </div>


    <div id="professors_container">
    <h2> All Professors </h2>
      <div class = "professor">
        <div class = "professor_name">Nathan Bean 
          <div class = "professor_info" >
            <!-- This can be replaced with @professors :params -->
            <p> Teaches: CIS526 | ... </p>
            <p> Office Hours: Monday 3:30-4:30 | ... </p>
            <p> Office: 123 · Nichols Hall </p>
            <p> <a href=http://acm.cis.ksu.edu/>Personal Website</a></p>
          </div>
        </div>
      </div>
      <div class = "professor">
        <div class = "professor_name">Daniel Andresen
          <div class = "professor_info" >
            <!-- This can be replaced with @professors :params -->
            <p> Teaches: CIS526 | ... </p>
            <p> Office Hours: Monday 3:30-4:30 | ... </p>
            <p> Office: 123 · Nichols Hall </p>
            <p> <a href=http://people.cis.ksu.edu/~dan/>Personal Website</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div id ="sticky_footer_home">
      <%= image_tag("left_arrow.png", class: "left_arrow_icon", size: "35", alt: "Left Arrow")  %>
      <%= image_tag("right_arrow.png", class: "right_arrow_icon", size: "35", alt: "Right Arrow")  %>
      <div id="icon">
        <%= image_tag("classes_icon.png", class: "classes_icon", size: "60", alt: "Classes")  %>
        <%= image_tag("instructors_icon.png", class: "instructors_icon", size: "60", alt: "Instructors")  %>
        <%= image_tag("events_icon.png", class: "events_icon", size: "60", alt: "Events")  %>
        <%= image_tag("groups_icon.png", class: "groups_icon", size: "60", alt: "Groups")  %>
        <%= image_tag("map_icon.png", class: "map_icon", size: "60", alt: "Campus Map")  %>    
        <%= link_to image_tag("logout_icon.png", class: "logout_icon", size: "60", alt: "Logout"), '/logout' %>
      </div>
    </div>
  </div>
</body>
</html>
