<!DOCTYPE html>
<html>
<head>
  <title>StudentHomepage</title>
  <%= stylesheet_link_tag    "application", 'thickbox', media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'jquery.js', 'jquery.validate.min', 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
