<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>It looks like you've forgotten your password!</h1>
    <p>
      We'd like you to check out KSU's password reset system for more information on resetting your password!<br>
    </p>
    <p>
      To get to the reset system, check out <a href="https://www.k-state.edu/its/eid/faqs_password.html#change"> this link! </a>
    </p><br>
    <p>Thanks for using the portal and have a great day!</p>
  </body>
</html>


