<%= form_for Message.new, :url => contact_path do |form| %>
  <fieldset class="fields">  
    <div style="display:none" class="field">
      <input name="body" type="hidden" value="testbody" />
      <input name="subject" type="hidden" value="Forgot password" />
    </div>        
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
  </fieldset>
  
  <fieldset class="actions">
    <%= form.submit "Send" %>
  </fieldset>
<% end %>